<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
  <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202110081841">

  <link rel="canonical" href="https://bulma.io/documentation/form/file/">
  <link rel="alternate" type="application/rss+xml" title="Bulma: Free, open source, and modern CSS framework based on Flexbox" href="https://bulma.io/atom.xml">


  </head>
  <body>
    <img src="https://main.qcloudimg.com/raw/d498faff179fc5253f1d922670865a7c.png">
    <section class='bd-hello' style='padding: 0vh 4vh 4vw;'>
        <form method='post' enctype=multipart/form-data>
        <h1 style='font-size: 32px;'>会员储值退还信息登记</h1>
        <span>感谢您填写以下信息，该信息仅用于核对会员信息并加密处理，请正确填写。现在我们马上开始吧！</span>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style='color: red;'>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <div class="field">
          <label class="label">会员姓名</label>
          <div class="control">
            <input class="input" type="text" placeholder="请填写您的会员姓名" name='mebName'>
          </div>
        </div>

        <div class="field">
          <label class="label">手机号码</label>
          <div class="control">
            <input class="input" type="text" placeholder="请填写您的手机号码" name='phoneNum'>
          </div>
        </div>

        <div class="field">
          <label class="label">开户银行</label>
          <div class="control">
            <input class="input" type="text" placeholder="请填写您的开户银行" name='bankName'>
          </div>
        </div>

        <div class="field">
          <label class="label">开户网点</label>
          <div class="control">
            <input class="input" type="text" placeholder="请填写银行开户网点" name='bankAddress'>
          </div>
        </div>

        <div class="field">
          <label class="label">银行卡号</label>
          <div class="control">
            <input class="input" type="text" placeholder="请填写您的银行卡号" name='bankNumber'>
          </div>
        </div>

        <div class="field">
          <label class="label">身份证件</label>
          <div class="control">
            <input class="input" type="file" name='file'>
          </div>
        </div>

        <br>

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type='submit' value='确认并提交' class="button is-primary" style='width:100%;'>
              </div>
            </div>
          </div>
        </form>
    </section>

  </body>
</html>
